footer {
  position: relative;
  @include widthMargin(95%, auto);
  @extend %flex;
  padding: 1.5rem 0;
  flex-direction: column;
  color: white;
  z-index: 1;
  border-radius: 1rem;
  backdrop-filter: blur(6px) saturate(180%);
  -webkit-backdrop-filter: blur(1px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  section {
    z-index: 1000000;
    padding: 1rem 1rem;
    @extend %flex;
    gap: 2rem;
    a {
      transition: all 0.5s ease;
      i {
        font-size: 1.5rem;

        padding: 0.4rem;
        text-shadow: 1px 1px 1px black;
        rotate: 0;
      }
      &:hover {
        box-shadow: 1px 1px 10px rgb(247, 247, 247);
        scale: 1.5;
      }
    }
    a:hover i {
      animation: 1s contactsIcon forwards;
    }

    @keyframes contactsIcon {
      0% {
        text-shadow: 1px 1px 1px black;

        rotate: 0;
      }

      60% {
        rotate: 360deg;
      }

      100% {
        rotate: 360deg;
      }
    }
  }
  p{
    
    font-size: 0.9rem;
    a{
        color: $secondary-color;
        margin-left: 0.5rem;
    }
  }
}
