* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
//   background-image: url(./images/coding.avif);
background-image: url(./images/Secondbg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  animation-name: imagesChanges;
  animation-duration: 80s;
  animation-iteration-count: infinite;
  animation-delay: 5.5s;

}


@keyframes imagesChanges {
   
    0%{
        background-image: url(./images/fourthBg.avif);
        opacity: 0;
    }
    50%{
        background-image: url(./images/coding.avif);
    opacity: 0.5;
    }
    75%{
        background-image: url(./images/Secondbg.jpg);
        opacity: 1;
    }
    100%{
        background-image: url(./images/coding.avif);
        opacity: 0.5;
    }

}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

$primary-color: #ffffffea;
$secondary-color: #32e7ff;
$background-color: #000000;

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin widthMargin($width, $margin) {
  width: $width;
  margin: $margin;
}
.scrollUp {
  background-color: red;
  border-radius: 4px;
  position: fixed;
  @extend %flex;
  right: 10px;

  display: inline;
  z-index: 10;
  bottom: 10px;
  background-color: $secondary-color;
  opacity: 0.1;
  padding: 1.5rem 2rem;
  transition: all 0.5s ease;
  i {
    font-size: 1.5rem;


  }

  &:hover {
    opacity: 1;
    box-shadow: 2px 2px 12px 2px rgb(247, 247, 247);
  }




  &:hover i{
    
    animation-name:scrollUp ;
    animation-duration: 2s;
    animation-fill-mode: forwards;
   
  }

  @keyframes scrollUp {
    0%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-10px);
    }
    30%{
        transform: translateY(0px);
    }
    40%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0);
    }
    60%{
        transform: translateY(-10px);
    }
   
    100%{
        transform: translateY(0);
    }
   
  }
}
